@import url(https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet);
@import url(https://fonts.googleapis.com/css?family=Cormorant" rel="stylesheet);

body {
	background: #f4d7ed;
}

h1 {
	font-family: "Cinzel", serif;
	text-align: center;
	font-size: 48px;
	font-weight: bold;
}

p {
	font-family: "Cormorant", serif;
	text-align: center;
	font-size: 18px;
	line-height: 1.5em;
	margin: 2em;

}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}
